%form.form-horizontal{'ng-submit' => 'ownerUpdate()'}
  .form-group
    %label.col-sm-4.control-label Find contacts for: 
    .col-sm-7
      %select.form-control{'ng-model' => 'ownerFormData.current_account_id'}
        %option{'ng-repeat' => 'account in accounts_full', value: '{{account.id}}'}
          {{ account.email }}
  .form-group
    %label.col-sm-4.control-label Select new owner:
    .col-sm-7
      %select.form-control{'ng-model' => 'ownerFormData.new_account_id'}
        %option{'ng-repeat' => 'account in accounts', value: '{{account.id}}'}
          {{ account.email }}
  .form-group
    .col-sm-offset-4.col-sm-7
      %button.btn.btn-xs.btn-primary{type: 'submit'} Update
      %a.btn.btn-xs.btn-danger{type: 'button', 'ng-click' => 'ownerToggleEdit()'} Cancel