%form.form-horizontal{'ng-submit' => 'updateOwner()'}
  .form-group
    %label.col-sm-5.control-label Find contacts for: 
    .col-sm-7
      %select{'ng-model' => 'ownerFormData.current_account_id'}
        %option{'ng-repeat' => 'account in accounts', value: '{{account.id}}'}
          %a{'ng-click' => 'getOwnerConacts(account.id)'}  
            {{account.email}} 
  .form-group
    %label.col-sm-5.control-label Select new owner:
    .col-sm-7
      %select{'ng-model' => 'ownerFormData.new_account_id'}
        %option{'ng-repeat' => 'account in accounts', value: '{{account.id}}'}
          {{account.email}} 
  .form-group
    .col-sm-offset-3.col-sm-7
      %button.btn.btn-primary{type: 'submit'} update