.filter{'ng-hide' => 'receiverFilterForm'}
  %form.form-horizontal
    .form-group
      %label.col-sm-2.control-label
        Search in list: 
      .col-sm-2
        %input#search.form-control{'ng-model' => 'searchText', 'ng-change' => 'searchingText((receiverList | filter:searchText))', placeholder: 'Search...'}/
      .col-sm-1
        %button.btn.btn-success.btn-xs{'ng-click' => 'searchingText((receiverList | filter:searchText = ""))', type: 'button'} Clear filter
  %form.form-horizontal{'ng-submit' => 'filterMonth()'}
    .form-group  
      %label.col-sm-2.control-label
        Birthday in:
      .col-sm-2
        %select.form-control{'ng-model' => 'filterDate.month', required: ''}
          %option{value: '{{id+1}}', 'ng-repeat' => '(id, month) in monthsList'}
            {{month}}
      .col-sm-3
        %button.btn.btn-xs.btn-primary{type: 'submit'} Filter
        %button.btn.btn-success.btn-xs{'ng-click' => 'filterClear("month")', type: 'button'} Clear filter
  / %hr
  / %form.form-horizontal{'ng-submit' => 'filterStartEnd()'}
  /   .form-group
  /     %label.col-sm-2.control-label
  /       Start date:
  /     %datepicker.col-sm-2{'date-format' => '{{dateFormat}}'}
  /       %input.form-control{'ng-model' => 'filterDate.start_date', type: 'text', required: ''}

  /     %label.col-sm-2.control-label
  /       End date:
  /     %datepicker.col-sm-2{'date-format' => '{{dateFormat}}'}
  /       %input.form-control{'ng-model' => 'filterDate.end_date', type: 'text', required: ''}
  /     .col-sm-2
  /       %button.btn.btn-xs.btn-primary{type: 'submit'} Filter
  /       %button.btn.btn-success.btn-xs{'ng-click' => 'filterClear("startend")', type: 'button'} Clear

  %hr