.panel.panel-primary
	.panel-heading{style: "margin-bottom:20px;"}
		%h1.panel-title 
			List of receivers
			%button.btn.btn-success.btn-sm{style: "margin-left: 10px;", "ng-click" => "toggleCreate()"} Add new receiver +
			- if current_account.is_admin?	
				%button.btn.btn-success.btn-sm{style: "margin-left: 10px;", "ng-click" => "toggleOwnerChange()"} Edit contact owner
			.col-xs-3.pull-right
				%input.input-sm.form-control{"ng-model" => "searchText", :placeholder => "Search....", :type => "search"}/
	.panel-body{style: "padding-right:20px; padding-left:20px; padding-bottom:0; padding-top:0;", "ng-repeat" => "receiver in postcards | filter:searchText"}
		.panel.panel-default{"ng-show" => "containsObject(receiver, receiverList)"}
			.panel-heading
				%h3.panel-title 
					{{receiver.first_name}} {{receiver.last_name}}
					%div.pull-right	
						%button.btn.btn-danger.btn-xs{"ng-click" => "deleteReceiver(receiver)", :type => "button"} Delete
						%button.btn.btn-success.btn-xs{"ng-click" => "toggleEdit(receiver)", :type => "button"} Edit
						%button.btn.btn-primary.btn-xs{"ng-click" => "addToList(receiver)", :type => "button"} Add to list
			.panel-body
				.col-xs-6.col-md-6
					%ul.list-group
						%li.list-group-item 
							City: 
							%b
								{{receiver.city}}
						%li.list-group-item 
							Country: 
							%b
								{{receiver.country}}
						%li.list-group-item 
							Zip:
							%b
								{{receiver.zip}}
						%li.list-group-item 
							Address line 1:
							%b
								{{receiver.address_line_1}}
						%li.list-group-item 
							Address line 2:
							%b
								{{receiver.address_line_2}}
						%li.list-group-item 
							Address line 3:
							%b
								{{receiver.address_line_3}}
						- if current_account.is_admin?	
							%li.list-group-item 
								Owner:
								%b{"data-ng-init" => "getAccount(receiver.account_id)"}
									{{account.email}}
				.col-xs-6.col-md-6{"ng-hide" => "receiverEditForm"}	
					%div{"ng-show" => "receiverSelected == receiver"}	
						= render partial: "edit"
