%tr
  %th
    %a{href: '#', 'ng-click' => "orderByField='first_name'; reverseSort = !reverseSort"}
      Name
      %span{'ng-show' => "orderByField == 'first_name'"}
        %span{'ng-show' => '!reverseSort'} ^
        %span{'ng-show' => 'reverseSort'} v
  %th
    %a{href: '#', 'ng-click' => "orderByField='last_name'; reverseSort = !reverseSort"}
      Surname
      %span{'ng-show' => "orderByField == 'last_name'"}
        %span{'ng-show' => '!reverseSort'} ^
        %span{'ng-show' => 'reverseSort'} v
  - if current_account.is_admin?
    %th
      %a{href: '#', 'ng-click' => "orderByField='email'; reverseSort = !reverseSort"}
        E-mail
        %span{'ng-show' => "orderByField == 'email'"}
          %span{'ng-show' => '!reverseSort'} ^
          %span{'ng-show' => 'reverseSort'} v
  %th
    %a{href: '#', 'ng-click' => "orderByField='birthday'; reverseSort = !reverseSort"}
      Birthday
      %span{'ng-show' => "orderByField == 'birthday'"}
        %span{'ng-show' => '!reverseSort'} ^
        %span{'ng-show' => 'reverseSort'} v
  %th
    %a{href: '#', 'ng-click' => "orderByField='city'; reverseSort = !reverseSort"}
      City
      %span{'ng-show' => "orderByField == 'city'"}
        %span{'ng-show' => '!reverseSort'} ^
        %span{'ng-show' => 'reverseSort'} v
  %th
    %a{href: '#', 'ng-click' => "orderByField='country'; reverseSort = !reverseSort"}
      Country
      %span{'ng-show' => "orderByField == 'country'"}
        %span{'ng-show' => '!reverseSort'} ^
        %span{'ng-show' => 'reverseSort'} v
  %th
    %a{href: '#', 'ng-click' => "orderByField='zip'; reverseSort = !reverseSort"}
      Zip
      %span{'ng-show' => "orderByField == 'zip'"}
        %span{'ng-show' => '!reverseSort'} ^
        %span{'ng-show' => 'reverseSort'} v
  - if current_account.is_admin?
    %th
      Is deleted
  %th
    %button.btn.btn-success.btn-xs{'ng-click' => 'addAllToList()', type: 'button'} Add all to list