%tr{"current-page" => "currentPage", "dir-paginate" => "receiver in postcards | filter:searchText | itemsPerPage: pageSize | orderBy:orderByField:reverseSort"}
  %td
    {{receiver.first_name}}
  %td 
    {{receiver.last_name}}
  - if current_account.is_admin?
    %td
      {{receiver.email}}
  %td
    {{receiver.birthday | date:"MM/dd/yyyy"}}
  %td
    {{receiver.city}}
  %td
    {{receiver.country}}
  %td
    {{receiver.zip}}
  / %td
  /   {{receiver.address_line_1}}
  /   %br
  /   {{receiver.address_line_2}}
  /   %br
  /   {{receiver.address_line_3}}
  %td
    %button.btn.btn-success.btn-xs{"ng-click" => "toggleEdit(false, receiver)", type: "button", style: "margin-bottom: 5px;"} Edit
    %br
    %button.btn.btn-danger.btn-xs{"ng-click" => "deleteReceiver(receiver)", type: "button", style: "margin-bottom: 5px;"} Delete
    %br
    %button.btn.btn-primary.btn-xs{"ng-click" => "addToList(receiver)", type: "button", style: "margin-bottom: 5px;"} Add to list