.container-fluid{"ng-app" => "Postcards"}	
	.row{"ng-controller" => "PostcardsCtrl"}
		.col-md-8
			.panel.panel-info{"ng-hide" => "receiverForm"}
				.panel.panel-body
					= render partial: "receiver_form"
			.panel.panel-info
				= render partial: "receiver_list"
		.col-md-4
			= render partial: "notify_list"