.container-fluid{"ng-app" => "Postcards"}	
  .row{"ng-controller" => "PostcardsCtrl"}
    .col-md-8
      = render partial: "receiver_list"
    .col-md-4
      .panel.panel-primary{"ng-hide" => "receiverCreateForm"}
        .panel-heading
          %h1.panel-title 
            Add new contact
            %button.btn.btn-danger.btn-xs{style: "margin-left:10px;", "ng-click" => "toggleCreate()", :type => "submit"} X
        .panel-body  
          = render partial: "create"
      = render partial: "notify_list"