.panel.panel-primary
  .panel-heading{style: 'margin-bottom:20px;'}
    %h1.panel-title 
      Accounts
      %button.btn.btn-success.btn-sm{'ng-click' => 'accountToggleCreate()', type: 'button', style: 'margin-left: 10px;'} Add new account
  .panel-body{style: 'margin-left: 5px;'}
    %table.table.table-hover
      %thead
        %tr
          %th
            Id
          %th
            First name
          %th
            Last name
          %th
            E-mail
          %th
            Role
          %th
      %tbody
        %tr{'ng-repeat' => 'account in accounts' }
          %td
            {{account.id}}
          %td 
            {{account.first_name}}
          %td
            {{account.last_name}}
          %td
            {{account.email}}
          %td{style: 'width: 30%'}
            %span.label.label-primary{'ng-repeat' => 'role in normalRoles(account.roles) track by $index', style: 'margin-left: 5px'}
              {{role}}
          %td
            %button.btn.btn-success.btn-xs{'ng-click' => 'accountToggleEdit(false, account)', type: 'button', style: 'margin-bottom: 5px;'} Edit
            %br
            %button.btn.btn-danger.btn-xs{'ng-click' => 'accountToggleDelete(account)', type: 'button', style: 'margin-bottom: 5px;'} Delete
