.container-fluid
  .row
    .col-xs-8
      .panel.panel-primary
        .panel-heading{style: "margin-bottom:20px;"}
          %h1.panel-title 
            Edit Account
        .panel-body{style: "margin-left: 5px;"}
          = render 'form'